/* DESKTOP LAYOUT*/

body{
    width: 100%;
    background-color: gainsboro;

}

section#header{
    position: absolute;
    top: 210px;
    margin-left: 5%;
    font-size: 150%;
    color: whitesmoke;
    letter-spacing: 1.3px;

}

ol{
    font-size: 1.4em;
    list-style-type: square;
    color: black;

}

section{
    width: 40%;
    padding: 3%;
    margin-top: -4%;
    display: inline-table;
}

section#aboutbutton{
    float: right;
    margin: 0%;
    padding: 0;


}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;

}

img#photo{
    width: 550px;
    border-radius:10px

}

img#gif{
    width: 350px;
    padding-top: 0px; 0px;
    margin: 1.5% 0% 5%;
    border-radius:10px;
    
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em; 

}

p#pin{
  width: 75%; 
}

h4{
    padding: 0%;
    font-family: 'Merriweather', serif;
    font-size: 1.8em; 
}

h5{
    margin-top: 0%;
    margin-bottom: 6%;
    padding-bottom: 0%;
    font-family: 'Merriweather', serif;
    font-size: 1.6em;
}
footer {
    clear: left;
    width: 75%;   
    margin-bottom: 2%;
    margin-left: 15%;
    padding-top: 1%;
    border-top: 1px dashed grey;

}
footer h4 {
    float: left;
}
footer p {
    float:right;
}

/* link styling */
a, a:visited {
    color: purple;
    font-weight:600;
    text-decoration: none;
}

section#aboutbutton a{
    position: relative;
    margin-top: -5%;
    width: 30%;
    float: right;
    background-color: purple;
    color: white;
    padding: 20px 20px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;

}

a:hover {
    color: black;  
}

footer a, footer a:visited {
    background-color: purple;
    color: white;
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

footer a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

}

/* MOBILE LAYOUT */

@media only screen and (max-width:500px) {
body{
        width: 80%;
        padding: 2% 2%;

    }
    
    p{
        font-size: 1.6em;
    }
    img{
        width: 90%;
    }
}