body{
    width: 100%;
    
}

section#header{
    position: absolute;
    top: 230px;
    margin-left: 5%;
    font-size: 1.7em;
    color: whitesmoke;
    letter-spacing: 1.3px;
    
}

section{
    width: 40%;
    padding: 3%;
    display: inline-table;
}
img{
    width: 100%;
    height: auto;
   
}