/* DESKTOP LAYOUT*/

body{
    width: 100%;
    background-color: #F5F0ED;
}

header{
    position: relative;
}

p{
    margin-left: 15%;
    margin-right: 15%;
    width: 30;
    font-family: 'PT Serif', serif;
    font-size: 1.2em;
}

#aboutp{
    width: 100%;
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'PT Serif', serif;
}

blockquote{
    clear:both;
    width: 30%;
    margin-left: 35%;
    margin-right: 50%;
    padding: 3% 2%;
    border: 4px double black;
    border-radius:2px;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 1.5em;
    color: black;
    letter-spacing: .02em;
    line-height: 1.4em; 
    /*Box Shadow - (Optional)*/
    box-shadow: 4px 4px 25px #ccc;
    box-shadow: 4px 4px 25px #ccc;
    box-shadow: 4px 4px 25px #ccc;
}

#path{
    font-size: 1.2em;
    margin-left: 15%;
    margin-right: 15%;
}

section{
    width: 70%;
    padding: 3%;
    margin-top: -4%;
}

section#header{
    width: 35%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-top: 2%;
    margin-left: 12%;
    margin-right: 12%;
}

section#atable{
    width: 40%;
    margin-left: 12%;
    margin-right: 10%;
    float: left;
}

section#btable{
    width: 28%;
    margin-top: -5%;
    margin-left: 5%;
    margin-right: 5%;
    display: inline;
}

img#head{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    border-radius: 9px;
}

img#gif{
    width: 30%;
    margin-right: 15%;
    margin-left: 15%;
    border-radius: 10px;
}

#footers{
    font-size: 1.2em;
}

footer {
    clear: left;
    width: 75%;   
    margin-bottom: 2%;
    margin-left: 15%;
    padding-top: 1%;
    border-top: 1px dashed grey;
}

footer h4 {
    float: left;
}

footer p {
    float:right;
}

ol{
    list-style: disc;
    font-size: 1.1em;
}

/* link styling */
a, a:visited {
    color: purple;
    font-weight:600;
    text-decoration: none;
}

section#aboutbutton a{
    position: absolute;
    right: 10%;
    bottom: 5%;
    width: 9%;
    background-color: purple;
    color: white;
    padding: 9px 15px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

section#aboutbutton a:nth-child(2) {
    position: absolute;
    right: 20%;
}

a:hover {
    color: black;  
}

footer a, footer a:visited {
    background-color: purple;
    color: white;
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

footer a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

/* MOBILE LAYOUT */

@media only screen and (max-width:500px) {
    body{
        width: 80%;
        padding: 2% 2%;
    }

    header{
        position: relative;
    }

    p{
        font-size: 1.3em;
    }

    #path{
        font-size: 1.5em;
        margin-left: 15%;
        margin-right: 15%;

    }

    img{
        width: 100%;
    }

    img#gif{
        width: 100%;
        margin-right: 5%;
        margin-left: 5%;
        border-radius: 10px;
    }

    footer h4 {
        float: left;
    }

    footer p {
        float:right;
    }

}