/* DESKTOP LAYOUT*/

body{
    width: 100%;
    background-color: floralwhite;

}

p{
    margin-left: 15%;
    margin-right: 15%;
    width: 40;
}

blockquote{
    clear:both;
    width: 40%;
    margin-left: 25%;
    margin-right: 30%;
    padding: 5% 4%;
    border: 5px double black;
    border-radius:2px;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 2.5em;
    color: black;
    letter-spacing: .02em;
    line-height: 1.4em; 
        
}

section{
    width: 40%;
    padding: 3%;
    margin-top: -4%;
}

section#header{
    width: 35%;
    padding-right: 0%;
    margin-left: 12%;
    margin-right: 12%;
  
}

section#atable{
    width: 40%;
    margin-left: 12%;
    margin-right: 12%;
    float: left;
    
}
section#btable{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    display: inline;
    
}

img#head{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
    border-radius: 9px;
    
}

footer {
    clear: left;
    width: 75%;   
    margin-bottom: 2%;
    margin-left: 15%;
    padding-top: 1%;
    border-top: 1px dashed grey;

}
footer h4 {
    float: left;
}
footer p {
    float:right;
}

ol{
    list-style: disc;
}
/* link styling */
a, a:visited {
    color: purple;
    font-weight:600;
    text-decoration: none;
}

section#aboutbutton a{
    position: relative;
    margin-top: -7%;
    margin-right: -208%;
    width: 30%;
    float: right;
    background-color: purple;
    color: white;
    padding: 20px 20px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;

}

a:hover {
    color: black;  
}

footer a, footer a:visited {
    background-color: purple;
    color: white;
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

footer a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

