body{
background: white; 
    
}

#all{
    margin-left: 17%;
    margin-right: 17%;
}
header{
        position: absolute;
        z-index: -1;
        width: 50%;
        background-color: black;
        color: white;
        padding: 130px 120px;
        border-radius: 10px
}

#name{
    position: absolute;
    left: 580px;
    bottom: 30px;
    font-family: roboto;
    font-size: 5.5em;
    color: #E0A3A2;
}

#name2{
    position: absolute;
    left: 690px;
    bottom: 10px;
    font-size: 2.5em;
    color: #E0A3A2;
}
.head{
    width: 85%;
    margin-left: 15%;
    padding-bottom: 4%;
    font-size: 1.8em;
   border-bottom: thick solid black;
}

.sub{
    margin-top: 7%;
    font-size: 1.2em;
}

#profile{
    position: relative;
    width: 250px;
    right: -2%;
}

#part2{
    margin-top: 20%;
}

#part3{
      margin-top: 25%;
}

#b1{
    margin-top: 16.3%;
}
#atable{
    width: 250px;
    height: 100vh;
    margin-left: 1%;
    float: left;
    font-size: .9em;
    background-color: #E0A3A2;
    background-color: c6b4b0;
    }

#btable{
        width: 50%;
        margin-top: 13.8%;
        margin-left: 2%;
        margin-right: 0%;
        display: inline-table;
        list-style: none;
    }
.bhead{
    width: 50%;
    margin-top: 1%;
    padding-bottom: .5%;
    font-size: 1.8em;
    border-bottom: thick solid black;
}
ul {
    list-style-position: inside;
    list-style: none;
    font-size: 1.1em;
}

ul :nth-child(2){
    
}
