body{
    width:100%;
    margin: 0;
    padding: 0;
}

header{
    margin-top: 0%;
}

#title{
    position: absolute;
    top: 17%;
    font-size: 20em;
    text-align: center;
    color: #af251a;   
}

.head{
    position: relative;
    margin-top: 0%;
    margin-right: 1000px;
    font-size: 2.5em;
    color: #af251a;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1.5px 1.5px black;
    text-align: left;
}

p{
    position: relative;
    padding-left: 10%;
    margin-right: 10%;
    margin-left: 60%;
    font-size: 1.4em;
    letter-spacing: 3%;
    color: whitesmoke;    
}

#human{
    margin-top: .5%;
    padding-top: 3%;
    padding-left: 10%;
    margin-right: 5%;
    margin-left: 60%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    color: #af251a;
}

#trafficker{
    margin-top: .5%;
    padding-top: 3%;
    padding-left: 10%;
    margin-right: 5%;
    margin-left: 60%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    color: #af251a;
}

#sex{
    position: relative;
    top: 60%;
    left: 70%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    color: #af251a; 
}

#girls{
    position: relative;
    top: 20%;
    left: 89%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    color: #af251a;
}
#special{
    position: relative;
    padding-left: 10%;
    top: 60%;
    left: 0%;
    font-size: 1.4em;
    letter-spacing: 3%;
    color: whitesmoke;
}

#victums{
    position: relative;
    padding-left: 10%;
    top: 20%;
    left: 10%;
    font-size: 1.4em;
    letter-spacing: 3%;
    color: whitesmoke;
    
}

section{
    width: 100%;
    height: 100vh;
    margin-top: .1%;
}

#traf{
    height: 120vh;
    padding-top:5%;
    position: relative;
    background-size: cover;
    background-image: url(images/optimized/hand-covering-girl-face.jpg)
}

#map{
    width: 100%;
    height: 100vh;
}

#abe{
    height: 120vh;
    padding-top:5%;
    background-size: cover;
    background-image: url(images/optimized/abe.jpg);
}
#barcode{
    height: 120vh;
    background-size: cover;
    background-image:url(images/optimized/bar-scan-back.jpg);
}

#tag{
    height: 120vh;
    background-size: cover;
    background-image: url(images/optimized/rope.jpg);
}

#girl{
    height: 120vh;
    padding-top:5%;
    background-size: cover;
    background-image: url(images/optimized/girl.jpg);
}

#thighs{
    height: 120vh;
    background-size: cover;
    background-image: url(images/optimized/thighs.jpg);
}

#grid{
    height: 120vh;
    background-size: cover;
    background-image: url(images/optimized/photo-gird.png);
}

#hurt{
    height: 120vh;
    background-size: cover;
    background-image: url(images/optimized/hurt.jpg);
}

#little{
    height: 120vh;
    background-size: cover;
    background-image: url(images/optimized/little-girl.jpg);
}
#hand{
    height: 120vh;
    padding-top:5%;
    background-size: cover;
    background-image: url(images/optimized/hands.jpg);
}

#workers{
    height: 120vh;
    padding-top:5%;
    background-size: cover;
    background-image: url(images/optimized/workers.jpg);
}

#picking{
    height: 120vh;
    padding-top:5%;
    background-size: cover;
    background-image: url(images/optimized/picking.jpg);
}

#cotton{
    height: 120vh;
    padding-top:5%;
    background-size: cover;
    background-image: url(images/optimized/picking-cotton.jpg);
}

#forced{
    height: 120vh;
    padding-top:5%;
    background-size: cover;
    background-image: url(images/optimized/forced.jpg);
}

#fence{
    height: 120vh;
    padding-top:5%;
    background-size: cover;
    background-image: url(images/optimized/child-behind-fence.jpg);
}

#cutting{
    height: 120vh;
    background-size: cover;
    background-image: url(images/optimized/cutting.jpg);
}

#digging{
    height: 120vh;
    background-size: cover;
    background-image: url(images/optimized/digging-child.jpg);
}

#bottle{
    height: 120vh;
    background-size: cover;
    background-image: url(images/optimized/bottle-boy.jpg);
}

#sewing{
    height: 120vh;
    background-size: cover;
    background-image: url(images/optimized/sewing-child.jpg);
}

#bullet{
    height: 120vh;
    padding-top:5%;
    background-size: cover;
    background-image: url(images/optimized/bullet.jpg);
}

#boy{
    height: 120vh;
    background-size: cover;
    background-image: url(images/optimized/boywithgun.jpg);
}

#smoking{
    height: 120vh;
    background-size: cover;
    background-image: url(images/optimized/smoking.jpg);
}

#group{
    height: 120vh;
    background-size: cover;
    background-image: url(images/optimized/boys.jpg);
}

#rifle{
    height: 120vh;
    background-size: cover;
    background-image: url(images/optimized/rifle.jpg);
}
/* navigation */

nav{
    z-index: 1;
    position: fixed;
    width:100%;
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.5em;
    color: white;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    padding-left: 10%;
    padding-right: 10%;
    display: inline;
}

footer{
    padding-right: 39%;
    padding-left: 39%;
}

footer img{
    width: 70px;
    padding-left: 5%;
    padding-right: 5%;
    display: inline;
}

#end{
    margin-top: .5%;
    padding: 5%;
    background-color: #af251a;
    color: whitesmoke;
    text-align: center;
}
/* link styling */

a, a:visited {
    color: ghostwhite;
    font-weight:600;
    text-decoration: none;
}

a:hover {
    color: #af251a;  
}
