body{
    width:100%;
}
header{
    margin-top: 0%;
}
#title{
    position: absolute;
    left: 40%;
    font-size: 3em;
    color: #af251a;   
}

.head{
    position: relative;
    margin-top: 0%;
    margin-right: 1000px;
    font-size: 3em;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1.5px 1.5px black;
    text-align: center;
}

p{
    position: relative;
    padding-left: 10%;
    margin-right: 10%;
    margin-left: 60%;
    font-size: 1.4em;
    letter-spacing: 3%;
    color: whitesmoke;    
}

#human{
    margin-top: .5%;
    padding-top: 3%;
    padding-left: 10%;
    margin-right: 5%;
    margin-left: 60%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    color: #af251a;
}

#trafficker{
    margin-top: .5%;
    padding-top: 3%;
    padding-left: 10%;
    margin-right: 5%;
    margin-left: 60%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    color: #af251a;
}

#sex{
    position: relative;
    top: 60%;
    left: 70%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    color: #af251a; 
}

#special{
    position: relative;
    padding-left: 10%;
    top: 60%;
    left: 0%;
    font-size: 1.4em;
    letter-spacing: 3%;
    color: whitesmoke;
}
section{
    width: 100%;
    height: 100vh;
    margin-top: .1%;
}

#traf{
    position: relative;
    background-size: cover;
    background-image: url(images/optimized/hand-covering-girl-face.jpg)
}
#abe{
    background-size: cover;
    background-image: url(images/optimized/abe.jpg);
}
#barcode{
    height: 105vh;
    background-size: cover;
    background-image:url(images/optimized/bar-scan-back.jpg);
}

#tag{
    background-size: cover;
    background-image: url(images/optimized/rope.jpg);
}

#jar{
    background-size: cover;
    background-image: url(images/optimized/jar.jpg);
}

#leg{
    background-size: cover;
    background-image: url(images/optimized/leg.jpg);
}
nav{
    width: 100%;
    position: absolute;
    font-size: 1.5em;
    color: white;
}

nav p {
    position: absolute;
    width: 30%;
    right: 0%;
    display: inline-table;
    float: left;
    background-color: black;
    color: white;
    text-align: center;
}

nav p:nth-child(2){
    float: left;
}

nav p:nth-child(3){
}


#end{
    margin-top: .5%;
    padding: 5%;
    background-color: #af251a;
    color: whitesmoke;
    text-align: center;
}
/* link styling */
a, a:visited {
    color: ghostwhite;
    font-weight:600;
    text-decoration: none;
}
a:hover {
    color: black;  
}
